body {
  background: #eee8f6
}
.App {
  text-align: center;
  margin: auto;
}

.users-form {
  display: flex;
  justify-content: center;
  margin: 40px;
  flex-wrap: wrap;
  background: #e0d3e9;
  padding: 55px;
}

.users-form fieldset {
  border: solid 0.2px;
}